# Fill these two up with the provided credentials from the eureka-service enviroment variables
EUREKA_DEFAULTZONE=http://<eruekausername>:<eurekapassword>@localhost:8761/eureka/
EUREKA_DEFAULTZONE_DOCKER=http://<eruekausername>:<eurekapassword>@synex-eureka-service:8761/eureka/

OAUTH2_ISSUER_URI=
OAUTH2_AUDIENCE=
